/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400;1,500&family=Rubik:wght@400;500;700&display=swap');

/* General */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 1.75em;
}

/* Containers */
.nav-container {
  width: 100%;
  max-width: 11in;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

.logo {
  font-size: 1.5rem;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cart {
  cursor: pointer;
}

/* Main */
.main-container {
  max-width: 11in;
  margin: 0 auto;
}

.main-title {
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 1.65rem;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.products-section {
  padding: 9em 0 0 0;
}

.product-card {
  position: relative;
}

.products {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.product-img img {
  width: 3.5in;
}

.product-title {
  margin: .5em 0;

  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.1rem;
}

.product-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 5px 0px 5px;
  background: #947da7;
  transition: transform .1s ease-in;
}

.cart-icon {
  font-size: 1.5rem;
}