/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400;1,500&family=Rubik:wght@400;500;700&display=swap');

/* General */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Containers */
.container {
  width: 100%;
  max-width: 11in;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

.navigation {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cart {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  position: relative;
  margin: 0 2em;
  text-transform: uppercase;

  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:after {
  content: "";
  display: block;
  width: 0%;
  max-width: 100px;
  height: 2px;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  border-radius: 5px;

  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;

  transition: all .27s ease-in-out;
}

.nav-link:hover:after {
  width: 100%;
  opacity: 1;
}

/* Main */
.main-container {
  width: 100%;
  max-width: 11in;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 0 1.5em 0;

  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1.65rem;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card {
  position: relative;
  border: 2px solid #6C5B7B;
  border-radius: 7px;
  padding: 7px;
}

.products-section {
  margin: 3em .75em;
}

.products {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: .9rem;
  grid-row-gap: 2rem;
}

.product-img {
  width: 100%;
}

.product-title {
  margin: .5em 0;

  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.1rem;
}

.product-cart {
  position: absolute;
  right: .5em;
  bottom: .5em;
  padding: 5px 5px 0px 5px;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to top right, #C06C84, #6C5B7B, #355C7D);
  border-radius: 3px;

  cursor: pointer;
}

.cart-icon {
  width: .2in;
}

.bars {
  position: relative;
  z-index: 99999999;
  display: none;
  width: .2in;
  color: #fff;
}


/* Homepage */
.homepage {
  padding: 0 30px;
}

.home-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 8in;
  margin-top: 15%;
}

.home-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 6rem;
  padding-bottom: .5em;
}

.home-desc {
  font-size: 1.2rem;
}

/* Contact */
.contact {
  padding-top: 18em;
}

.contact-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
}

.contact-part:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid #000;
  padding-left: 2em;
  max-width: 3.5in;
  height: 3em;
  margin: 1.25em 0;
}

.input:nth-child(4) {
  padding-top: 1.75em;
  padding-bottom: 8em;
}

.contact-button {
  max-width: 3.5in;
  height: 3em;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  border: 0;
  color: #fff;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: light;
  text-transform: uppercase;
}










/* Media */

/* 721 PX */
@media (max-width: 721px) {
  .nav-links {
    position: fixed;
    inset: 0 0 0 0;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    display: flex;
    height: 60%;
    transform: translateX(100%);
    transition: all .3s ease-in;
  }

  .nav-links.active {
    position: fixed;
    inset: 0 0 0 0;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    z-index: 999999;
    height: 60%;
    display: flex;
    transform: translateX(0);
  }

  .nav-link {
    margin: 1em auto;
  }

  .nav-link:first-child {
    margin-top: 4em;
  }

  .nav-link:hover:after {
    width: 0;
  }

  .bars {
    display: block;
    margin-right: 1em;
    cursor: pointer;
  }
}

/* 390PX */
@media (max-width: 380) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .product-img {
    max-width: 100px;
  }
}