/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400;1,500&family=Rubik:wght@400;500;700&display=swap');

/* General */

/* Selections */
  h1::selection {
    background-color: #355C7D;
    color: #fff;
  }

  h2::selection {
    background-color: #355C7D;
    color: #fff;
  }

  .product.price::selection {
    background-color: #355C7D;
    color: #fff;
  }

  p::selection {
    background-color: #355C7D;
    color: #fff;
  }

  .logo::selection {
    background-color: transparent;
  }

/* ... */
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: #ebeeef;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: all .2s linear;

}

.biggest {
  position: relative;
  min-height: 100vh;
}

.biggest.dark {
  background-color: #000;
}

/* Routes */
.routers.dark {
  background-color: #000;
}

/* Containers */
.container {
  position: relative;

  width: 100%;
  max-width: 11in;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

.navbar.dark {
  background-color: #000;
  box-shadow: 0 1px 4px rgba(157, 155, 155, 0.461);
}

.navigation {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cart {
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links.dark {
  background-color: #000;
}

.nav-link {
  position: relative;
  margin: 0 2em;
  text-transform: uppercase;

  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .nav-link.active {
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #355C7D, #C06C84, #6C5B7B );
  background: linear-gradient(to right, #355C7D, #C06C84, #6C5B7B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all .27s ease-in-out;
} */

.nav-link:after {
  content: "";
  display: block;
  max-width: 100px;
  width: 0%;
  height: 2px;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  border-radius: 5px;

  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;

  transition: all .27s ease-in-out;
} 

.nav-link:hover:after {
  width: 100%;
  opacity: 1;
}



/* Main */
.main-container {
  width: 100%;
  max-width: 11in;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 0 1.5em 0;

  font-size: 1.65rem;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card {
  position: relative;
  border: 2px solid #6C5B7B;
  border-radius: 7px;
  padding: 7px;
}

.products-section {
  margin: 3em .75em 0 .75em;
  padding-bottom: 200px;
}

.products-section.dark {
  color: #fff;
}

.products {
  margin-top: 1em;
  margin-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: .9rem;
  grid-row-gap: 2rem;
}

.product-img {
  width: 100%;
}

.product-title {
  margin: .5em 0;

  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.product-price {
  font-size: 1.1rem;
}

.product-cart {
  position: absolute;
  right: .5em;
  bottom: .5em;
  padding: 5px 5px 0px 5px;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to top right, #C06C84, #6C5B7B, #355C7D);
  border-radius: 3px;
  
  cursor: pointer;
}

.product-cart:active {
  transition: all .05s;
  transform: translateY(-.2rem);
  box-shadow: #C06C84 0px 2px, #6c5b7ba3 0px 5px, #355b7d3f 0px 7px, #6c5b7b15 0px 8px;
}

.cart-icon {
  width: .2in;
}

.bars {
  position: relative;
  z-index: 99999999;
  display: none;
  width: .2in;
  color: #fff;
}


/* Homepage */
.homepage {
  padding: 0 30px;
}

.home-content {
  display: flex;
  flex-direction: column;
  max-width: 8in;
  margin-top: 15%;
  color: #000;
}

.home-content.dark{
  color: #fff;
}

/* Light Home Title */
.home-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 6rem;
  margin-bottom: .5em;
  position: relative;
}

.home-title::before,
.home-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-title::before {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  animation: 
    typewriter 1.3s ease-in forwards;
}

/* Dark Home Title */
.home-title-dark {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 6rem;
  margin-bottom: .5em;
  position: relative;
}

.home-title-dark::before,
.home-title-dark::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-title-dark::before {
  background-color: #000000;
  animation: 
    typewriter 1.5s ease-in forwards;
}

.home-desc {
  font-size: 1.2rem;
  position: relative;
  animation: fadeInUp .75s 1.3s ease-in-out forwards;
  opacity: 0;
  transform: translateY(7rem);
}

.home-desc::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Contact */
.contact {
  margin: 0 auto;
  padding-top: 18em;
  padding-bottom: 17rem;
}

.contact-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
}

.contact-title.dark {
  color: #fff;
}

.contact-part:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid #000;
  padding-left: 2em;
  max-width: 3.5in;
  height: 3em;
  margin: 1.25em 0;
}

.input:nth-child(4) {
  padding-top: 1.75em;
  padding-bottom: 8em;
}

.contact-button {
  max-width: 3.5in;
  height: 3em;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  border: 0;
  color: #fff;
  margin-top: 1em;
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: light;
  text-transform: uppercase;
}

/* Footer */
.footer {
  width: 100%;
  padding: 70px 0;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

.footer-content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto 0;
}

.link {
  display: flex;
  justify-content: center;
  margin: 0 4em;
}

.link a{
  font-size: 1.1rem;
  margin-left: .5em;
  color: #fff;
}

/* Key Frames */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}


/* Cart Section */
.cart-title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 3.2rem 0;
  font-size: 1.65rem;
  font-weight: 400;
  text-transform: uppercase;

  color: #000;
}

.cart-title.dark {
  color: #fff;
}

.total-price {
  font-size: 1.1rem;
  margin-top: -1em;
  margin-bottom: 2em;
  padding-left: 14px;
  color: #000;
}

.total-price.dark {
  color: #fff;
}

.cart-section {
  padding-bottom: 200px;
}

.cart-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: .9rem;
  grid-row-gap: 2rem;
  margin: 0 1em;
}

.cart-item {
  position: relative;
  border: 2px solid #6C5B7B;
  border-radius: 7px;
  padding: 8px;
  margin: 1em 0;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item-img {
  width: 100%;
  max-width: 3.5in;
}

.cart-item-name {
  margin: .5em 0;

  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;

  color: #000;
}

.cart-item-name.dark {
  color: #fff;
}

.cart-item-price {
  font-size: 1.2rem;
  color: #000;
}

.cart-item-price.dark {
  color: #fff;
}

.clear-all-products-btn {
  display: grid;
  place-content: center;
  margin: 2.5em 0 1.5em 0;
}

.clear-products-btn {
  padding: 1.3rem 2rem;
  margin: 1em .5rem 0 .5rem;
  text-transform: uppercase;
  max-width: 3in;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.05rem;
  font-weight: light;
  text-transform: uppercase;
}

.open-bars {
  font-size: 1.3rem;
}

.close-bars {
  font-size: 2rem;
}
  
/* Media */

/* 721 PX */
@media (max-width: 721px) {
  .nav-links {
    position: fixed;
    inset: 0 0 0 0;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    display: flex;
    height: 22rem;
    transform: translateX(100%);
    transition: transform .3s ease-in;
  }

  .nav-links.activee {
    position: fixed;
    inset: 0 0 0 0;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    text-align: center;
    z-index: 999999;
    height: 22rem;
    display: flex;
    transform: translateX(0);
  }

  .nav-links.activee.dark {
    background-color: #000;
  }

  .nav-link {
    margin: 1em auto;
  }

  .nav-link:first-child {
    margin-top: 4em;
  }

  .nav-link:hover:after {
    width: 0;
  }

  .bars {
    display: block;
    margin-right: 1em;
    cursor: pointer;
  }

  .products-section {
    padding-bottom: 20rem;
  }

  .contact {
    padding-bottom: 20rem;
  }

  .cart-section {
    padding-bottom: 20rem;
  }

  .footer-content {
    flex-direction: column;
  }

  .link {
    margin: 1em 0;
    font-size: .75rem;
  }

}

/* 605 */
@media (max-width: 634px) {
  .home-title {
    font-size: 3.2rem;
  }
  
  .home-title-dark {
    font-size: 3.2rem;
  }

  .home-desc {
    font-size: .8rem;
  }

  .contact {
    padding-top: 10em;
  }
}

/* 370PX */
@media (max-width: 370px) {
  .home-title {
    font-size: 2.3rem;
  }

  .home-title-dark {
    font-size: 2.3rem;
  }

  .home-desc {
    font-size: .7rem;
  }

  .contact-title {
    font-size: 1.3rem;
  }
}